
<html>
<head>
<title>Login page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body >

<!-- Start coding from below -->
<center>
<br>
<h1>OTP VERIFICATION</h1>
<hr>
<h2>Username</h2>
<input type="text"  placeholder="username">
<br><h2>Password</h2>
<input type="text"  placeholder="Password">
<br><p>Mobile Number should be with Country code. e.g. +9173030xxxxx</p>
<h2>Mobile No </h2>
<input type="text"  placeholder="Mobile Number"><br>
<button type="button" class="btn btn-primary">GET OTP</button>
</center>
</body>
</html>


